/* Fontes Family do Google */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Parisienne&family=Pinyon+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* Estilos para o projeto */

/* Base */
@import url('/assets/css/base/css-geral.css');
@import url('/assets/css/base/variables.css');


/* Layouts */
@import url('/assets/css/layout/header.css');
@import url('/assets/css/layout/hero.css');
@import url('/assets/css/layout/about.css');
@import url('/assets/css/layout/projects.css');
@import url('/assets/css/layout/modal.css');
@import url('/assets/css/layout/experience.css');

