section.projects {
    padding: 6rem 0;

    div.container-lg {
        div.row {
            div.col-12 {
                h2.about__title {
                    font-family: var(--font-family-poppins);
                    font-size: var(--font-size-poppins-large);
                    font-weight: var(--font-weight-poppins);

                    .subtitle__span {
                        color: var(--primary-color);
                        font-weight: 700;
                    }
                }

                hr.about-underline {
                    width: 80px;
                    height: 4px;
                    background-color: #E67E23;
                    margin: 0 auto 40px;
                    border: none;
                    border-radius: 2px;
                }
            }

            div {
                div.card {
                    border: none;
                    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
                    transition: all 0.3s ease;

                    &:hover {
                        transform: scale(1.02);
                        box-shadow: 0 4px 7px rgba(0, 0, 0, 0.3);
                    }

                    div.card-body {
                        h5.card-title {
                            font-family: var(--font-family-poppins);
                            font-weight: var(--font-weight-poppins);
                            font-size: var(--font-size-poppins-large);
                            text-align: center;
                            
                            span.geral-span {
                                color: var(--primary-color);
                            }
                        }

                        P.card-text {
                            text-align: justify;
                            font-size: var(--font-size-poppins-small);
                            color: var(--secundary-color);
                        }

                        button.open-modal {
                            color: var(--white-color);
                            background-color: var(--primary-color);
                            
                            transition: all 0.3s ease;

                            &:hover {
                                background-color: transparent;
                                color: var(--primary-color);
                                border: 1px solid var(--primary-color);
                            }
                        }
                    }
                }
            }
        }
    }
}