section.projects {
    padding: 6rem 0;

    div.container-lg {
        div.row {
            div.col-12 {
                h2.about__title {
                    font-family: var(--font-family-poppins);
                    font-size: var(--font-size-poppins-large);
                    font-weight: var(--font-weight-poppins);

                    .subtitle__span {
                        color: var(--primary-color);
                        font-weight: 700;
                    }
                }

                hr.about-underline {
                    width: 80px;
                    height: 4px;
                    background-color: #e67e23;
                    margin: 0 auto 40px;
                    border: none;
                    border-radius: 2px;
                }

                p.text-center {
                    color: var(--secondary-color);
                    margin: 0 auto 20px;
                }
            }

            div {
                div.card {
                    border: none;
                    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
                    transition: all 0.3s ease;

                    &:hover {
                        box-shadow: 0 4px 7px rgba(0, 0, 0, 0.3);
                    }

                    div.card-body {
                        h5.card-title {
                            font-family: var(--font-family-poppins);
                            font-weight: var(--font-weight-poppins);
                            font-size: var(--font-size-poppins-large);
                            text-align: center;

                            span.geral-span {
                                color: var(--primary-color);
                            }
                        }

                        P.card-text {
                            text-align: justify;
                            font-size: var(--font-size-poppins-small);
                            color: var(--secundary-color);
                        }

                        button.open-modal {
                            width: 100%;

                            color: var(--white-color);
                            background-color: var(--primary-color);

                            transition: all 0.3s ease;

                            &:hover {
                                background-color: transparent;
                                color: var(--primary-color);
                                border: 1px solid var(--primary-color);
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Dark Mode Styles */
.dark-mode section.projects {
    div.container-lg {
        div.row {
            div.col-12 {
                h2.about__title {
                    color: var(--text-color);
                }

                p.text-center {
                    color: var(--text-color);
                }
            }

            div {
                div.card {
                    background-color: var(--card-bg);
                    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.7);

                    div.card-body {
                        h5.card-title {
                            color: var(--text-color);
                        }

                        p.card-text {
                            color: var(--text-color);
                        }

                        button {

                            width: 100%;
                            background: transparent;
                            color: var(--text-color);
                            border-color: var(--text-color);

                            &:hover {
                                color: var(--text-color);
                                border-color: var(--primary-color);
                                background-color: var(--primary-color);
                            }
                        }
                    }
                }
            }
        }
    }
}

.dark-mode section.projects div.container-lg div.row div div.card div.card-body div.card-buttons a.btn:hover {
    background-color: var(--primary-color);
}
