section.projects {
    padding: 6rem 0;

    div.container-lg {
        div.row {
            div.col-12 {
                h2.about__title {
                    font-family: var(--font-family-poppins);
                    font-size: var(--font-size-poppins-large);
                    font-weight: var(--font-weight-poppins);

                    .subtitle__span {
                        color: var(--primary-color);
                        font-weight: 700;
                    }
                }

                hr.about-underline {
                    width: 80px;
                    height: 4px;
                    background-color: #E67E23;
                    margin: 0 auto 40px;
                    border: none;
                    border-radius: 2px;
                }
            }

            div {
                div.card {
                    div.card-body {
                        h5.card-title {
                            font-family: var(--font-family-poppins);
                            font-weight: var(--font-weight-poppins);
                            font-size: var(--font-size-poppins-large);
                            text-align: center;
                            
                            span.geral-span {
                                color: var(--primary-color);
                            }
                        }

                        P.card-text {
                            text-align: justify;
                            font-size: var(--font-size-poppins-small);
                            color: var(--secundary-color);
                        }
                    }
                }
            }
        }
    }
}